In [14]:
#get the list and the index of the list

In [15]:
#find the common number in the two list
l1=[1,7,5,3,6,4]
l2=[2,34,17,5,66]

[i for i in l1 for j in l2 if i==j]

[5]

In [16]:
s= "my name is Mitali raut"
#count the number of letter 
#1
l1=s.split()
[ len(i) for i in l1]

[2, 4, 2, 6, 4]

In [17]:
#print the number of words
s= "my name is Mitali raut"
[ e for e in s]

['m',
 'y',
 ' ',
 'n',
 'a',
 'm',
 'e',
 ' ',
 'i',
 's',
 ' ',
 'M',
 'i',
 't',
 'a',
 'l',
 'i',
 ' ',
 'r',
 'a',
 'u',
 't']

In [18]:
#count the number of words which are not alphanumeric 

s=" this is csit department 24 23"
i=s.split()
[ j for j in i if not j.isalpha()]
#print the letter char greater than 4
[j for j in i if len(j)>=4 and j.isalpha()]

['this', 'csit', 'department']

In [19]:
#use the nested list comprehension to find all the number in 1 to 100 that are divisivle by 2 to9
[ i  for j in range(2,9) for i in range(1,100)   if i%j==0]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 44,
 48,
 52,
 56,
 60,
 64,
 68,
 72,
 76,
 80,
 84,
 88,
 92,
 96,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 60,
 66,
 72,
 78,
 84,
 90,
 96,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 77,
 84,
 91,
 98,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 80,
 88,
 96]